{% extends 'base.html' %}

{% block title %} Focus events!{% endblock %}

{% block content %}
<h2>{{user.username}}'s Posts</h2>
{% for post in posts %}
<div class="bs-callout bs-callout-info">
    <small class="text-muted">{{post.create_time|strftime}}</small>
    <a href="/@{{post.username}}" ><h4>{{post.username}}</h4></a>
    <p class=""> {{post.content|decorate}} </p>
</div>
{% endfor %}

<h2>{{user.username}}'s Mentioned Posts</h2>
{% for post in mention_posts %}
<div class="bs-callout bs-callout-info">
    <small class="text-muted">{{post.create_time|strftime}}</small>
    <a href="/@{{post.username}}" ><h4>{{post.username}}</h4></a>
    <p class=""> {{post.content|decorate}} </p>
</div>
{% endfor %}


{% endblock %}

